@font-face {
	font-family: Slackey;
	src: local("Slackey Regular"), local("Slackey-Regular"), url(https://fonts.gstatic.com/s/slackey/v10/N0bV2SdQO-5yM0-dGlNQIg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
